.productContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 26px; /* Adjust the gap between the items as needed */
}
.img {
  width: 100%;
  height: 250px;
}
